*{
    padding: 7px;
}

body{
    background-color: rgb(208, 138, 138);
}

header{
    border-bottom: dotted;
}

header p {
    font-size: larger;
    font-weight: 600;
}

.form-label{
    font-size: large;
    font-weight: bolder;
}

.card{
    background-color: rgb(157, 230, 233);
}

.card-header{
    background-color: #d1149c5f;
}

#search-block {
    background-color: grey;
}

.btn {
    background-color: grey;
}

#weather-block h3 {
    background-color: rgb(151, 130, 130);
}

.forecast-weather {
    background-color: rgb(4, 170, 170);
}

.current-weather {
    background-color: rgb(97, 226, 183);
    border-bottom: solid;
}

.forecast-days {
    background-color: #6ca1aa;
    border: dashed;
}

/* HIDES WEATHER BLOCK ON PAGE LOAD */
.visibility-hidden {
    visibility: hidden;
}

/* HOVER BUTTONS */
.search-history-button:hover {
    font-size: 115%;
    transition: all .3s ease-in-out;
    opacity: .8;
}

.btn:hover{
    font-size: 115%;
    transition: all .3s ease-in-out;
    opacity: .8;
}