*{
    padding: 10px
}

header{
    border-bottom: dotted;
}

#weather-block h3 {
    background-color: gainsboro;
}

.card-header{
    background-color: #a7d3db;
}

#search-block {
    background-color: grey;
}

.btn {
    background-color: grey;
}

.forecast-weather {
    background-color: aqua;
}

.current-weather {
    background-color: aquamarine;
    border-bottom: solid;
}

.forecast-days {
    background-color: #6ca1aa;
    border: dashed;
}



.forecast-block {
    justify-content: space-evenly;
}

.search-history-button:hover {
    font-size: 115%;
    transition: all .3s ease-in-out;
    opacity: .8;
}

.btn:hover{
    font-size: 115%;
    transition: all .3s ease-in-out;
    opacity: .8;
}

.uv-fav {
background-color: green;
}


.uv-mod {
background-color: yellow;
}

.uv-sev {
background-color: red;
}